.checkout-item
  display flex
  padding-y (basePadding*2)
  line-height line-m
  border-bottom 1px solid #f0f0f0
  @media screen and (max-width point-m)
    flex-wrap wrap
  &__item
    padding-right basePadding
    &--info
      flex-grow 1
    &--price
      display flex
      margin-x -(basePadding/2)
      & > *
        padding-x (basePadding/2)
      @media screen and (max-width point-m)
        flex-grow 1
        padding-left 5rem
        align-items center
    &:last-child
      padding-right 0
  &__name
    margin-bottom (font-m/2)
    font-weight bold
    color #000000
    text-decoration none
    &:hover
      color #666666
  &__clarification
    margin-bottom font-m
    font-size font-s
    line-height line-s
  &__count
    flex-shrink 0
  &__price
    display flex
    flex-direction column
    text-align right
    width 10rem
    @media screen and (max-width point-m)
      width auto
      flex-grow 1
  &__total
    font-weight bold
  &__single-price
    font-size font-xs
    color #aaaaaa
