.home-info
  h2.home-info__header Полезная информация по выбору лечебной косметики
  +grid
    +grid__item({'m':3,'s':6,'xs':12}).home-info__block
      .home-info__title Алопеция
      .home-info__body С целью оставаться неизменно привлекательными большая часть людей заботиться о своем внешнем виде. Причем это в равной степени делают как женщины, так и мужчины. Можно себе представить бурю негодования в те дни, когда кто–то из них замечает у себя признаки облысения.
      a(href='/').home-info__link Подробнее
    +grid__item({'m':3,'s':6,'xs':12}).home-info__block
      .home-info__title Защита от повреждения волос
      .home-info__body Защита от повреждения волос может быть осуществлена при помощи использования специальных кондиционеров, которые препятствуют разрушению оболочки волосяного покрова, что будет способствовать снижению уровня повреждения волос при их укладке и простом расчесывании.
      a(href='/').home-info__link Подробнее
    +grid__item({'m':3,'s':6,'xs':12}).home-info__block
      .home-info__title Лечебные и косметические средства для волос
      .home-info__body Продолжительный период времени основным ингредиентом большинства шампуней являлось мыло. Оно имело несколько минусов: плохое пенообразование в воде, характеризующейся как жесткая, а также образование на волосяном покрове матового налета.
      a(href='/').home-info__link Подробнее
    +grid__item({'m':3,'s':6,'xs':12}).home-info__block
      .home-info__title Шампуни для волос
      .home-info__body Шампуни для волос, как правило, представляют собой водный раствор смеси тех или иных компонентов. В зависимости от действия основные составляющие шампуней классифицируют следующим образом:
      a(href='/').home-info__link Подробнее
      
