.header-banner
  .header-banner__block.header-banner__block--freecall
    div Бесплатный звонок<br>по России<br>
      strong 8 800 775 05 36
  .header-banner__block.header-banner__block--consult
    div Трихолог-консультант<br>поможет с выбором
  .header-banner__block.header-banner__block--pickup
    div Самовывоз в <br>Санкт-Петербурге
  .header-banner__block.header-banner__block--delivery
    div Доставка Почтой России<br>
      strong бесплатно
      | <br>при заказе от 7000 руб
