.product-properties
  .product-properties__header Описание
  -
    var items = [
      {'title':'Для кого','value':'Для мужчин, Для женщин'},
      {'title':'Назначение','value':'От перхоти и себореи'},
      {'title':'Бренд','value':'Optima'},
      {'title':'Вид','value':'Наборы'},
      {'title':'Страна изготовитель','value':'Италия'}
    ]
  each item in items
    .product-properties__item
      .product-properties__title !{item.title}:
      .product-properties__value !{item.value}
