.catalog-list
  margin-y (-(basePadding))
  margin-bottom (basePadding*2)
  &__item
    margin-y basePadding
    transition box-shadow .4s
    &:hover
      transition none
      box-shadow 0 0 4px #cccccc
  &__image
    margin-bottom (font-m/3)
    // padding basePadding
    transition opacity .4s
    position relative
    padding-bottom 100%
    &:hover
      transition none
      opacity 0.875
    a
      width 100%
      height 100%
      position absolute
      top basePadding
      left 0
      display flex
      align-items center
      justify-content center
      padding-bottom basePadding
    img
      max-width 100%
      display block
      max-height 100%
  &__manufacturer
    margin-bottom (font-m/3)
    // font-size font-s
    // line-height line-s
    font-weight bold
    color #8fc843
  &__name
    color #777777
    margin-bottom (font-m)
    color #000000
    a
      color #000000
      text-decoration none
      &:hover
        color #555555
  &__info-bottom
    display flex
    justify-content space-between
    align-items center
    padding-bottom basePadding
    @media screen and (max-width point-m)
      flex-direction column
      align-items flex-start
    .product-buy
      margin-x 0
  &__price
    font-weight bold
    @media screen and (max-width point-m)
      margin-bottom (basePadding/2)
  &__add
    @extends .btn
    font-size font-s
    line-height line-s
    background-color #8fc843
    color #ffffff
    &:hover
      transition none
      background-color #a3e54c
      color #ffffff
