.checkout-table
  padding (basePadding*2)
  margin-bottom (basePadding * 2)
  @media screen and (max-width point-m)
    margin-x (-(basePadding))
  &__total
    border-top 1px solid #ffffff
    padding-top (basePadding*2)
    display flex
    align-items flex-end
    flex-direction column
    font-size font-xxl
    margin-bottom (font-xxl/2)
    strong
      margin-left basePadding
  &--final
    & ^[-1]__total-inner
      strong
        margin-left 0
  &__total-num
    width 8rem
    text-align right
    flex-shrink 0
  &__total-inner
    display flex
    margin-bottom basePadding
    font-size font-xl
    span
      text-align right
