.checkout-table
  -
    var checkoutItems = [
      {
        'name': 'Набор от перхоти №3',
        'price':'4428',
        'count':'1'
      },
      {
        'name': 'Набор от перхоти №3',
        'price':'4428',
        'count':'3'
      },
    ]
  include ../checkout-item/checkout-item
  each item in checkoutItems
    +checkoutItem(item)
  if checkoutStep == 1 || checkoutStep == 2
    .checkout-table__total
      .checkout-table__total-inner Итого: 
        strong 9 680 руб.
  if checkoutStep == 3 || checkoutStep == 4 | checkoutStep == undefined
    .checkout-table__total
      .checkout-table__total-inner
        span Итого:
        .checkout-table__total-num 9 680 руб.
      .checkout-table__total-inner
        span Стоимость доставки:
        .checkout-table__total-num 0 руб.
      .checkout-table__total-inner
        strong Всего к оплате: 
        .checkout-table__total-num 9 680 руб.
