.footer-subscribe
  display flex
  justify-content center
  margin-x -(basePadding)
  flex-wrap wrap
  padding-y (basePadding/2*3)
  &__label
    padding-x basePadding
    margin-top basePadding
    margin-bottom (basePadding/2)
  &__form
    padding-x basePadding
    display flex
    align-items center
    flex-wrap wrap
    justify-content center
    margin-x -(basePadding/2)
    > *
      margin-x (basePadding/2)
      margin-y (basePadding/2)
