.home-why-we
  font-size font-m
  line-height line-m
  &__item
    padding-left 8.75rem
    background-size 6.5rem 6.5rem
    background-repeat no-repeat
    background-position basePadding 0
    background-image linear-gradient(#fff, #000)
    @media screen and (max-width point-m)
      padding-left basePadding
      padding-top 8.75rem
      background-position center (basePadding*2)
      
    &--advantages
      background-image url('../images/advantages/shop.png')
      @media screen and (-webkit-min-device-pixel-ratio 1.5), (min-resolution 1.25dppx)
        background-image url('../images/advantages/shop@2.png')
    &--wholesale
      background-image url('../images/advantages/optovik.png')
      @media screen and (-webkit-min-device-pixel-ratio 1.5), (min-resolution 1.25dppx)
        background-image url('../images/advantages/optovik@2.png')
    &--discounts
      background-image url('../images/advantages/sale.png')
      @media screen and (-webkit-min-device-pixel-ratio 1.5), (min-resolution 1.25dppx)
        background-image url('../images/advantages/sale@2.png')
    &--guarantees
      background-image url('../images/advantages/garantii.png')
      @media screen and (-webkit-min-device-pixel-ratio 1.5), (min-resolution 1.25dppx)
        background-image url('../images/advantages/garantii@2.png')
  &__title
    font-weight bold
    margin-bottom (font-m/2)
