.methods-sign
    .methods-sign__buttons
      a(href='/zapisatsya-na-narashchivanie-volos').btn.methods-sign__button Записаться на наращивание волос
      a(href='/shop/slavianskie-volosy/').btn.methods-sign__button Заказать волосы
    .methods-sign__info
      p Вы можете записаться на наращивание волос по телефону<br> 
        span.methods-sign__phone +7(499) 766-24-88
        |  или заполнив форму online.
      p Вы можете заказать волосы для наращивания в нашем 
        a(href='/shop/slavianskie-volosy/') интернет магазине
        | , по телефону 
        span.methods-sign__phone +7(499) 766-24-88
        |  или приехать к нам.
