.product-photos
  margin-bottom (basePadding*2)
  &__main
    padding (basePadding*2)
    border 1px solid #e6e6e6
    margin-bottom (basePadding)
    position relative

    a
      position relative
      display block
      width 100%
      padding-bottom 100%

    img
      position absolute
      top 50%
      left 50%
      z-index 1
      display block
      max-width 100%
      max-height 100%
      transform translate(-50%, -50%)
    &::after
      content ''
      position absolute
      bottom basePadding
      right basePadding
      z-index 2
      width 1.5rem
      height 1.5rem
      display block
      background url('../images/zoom-in.svg')
      background-size contain
  &__additional
    display flex
    flex-wrap wrap
    justify-content center
    margin -(basePadding/2)
    .modal
      width 3.25rem
      padding (basePadding/2)
      border-bottom none
      img
        display block
        width 100%
