extends /blocks/layout/layout


block content
  .container
    .content
      h1 Вход на сайт
      +grid({justify: 'space-between'})
        +grid__item({m:5,s:6,xs:12})
          p: strong Войти на сайт, если вы зарегистрированы
          form.checkout-form
            .checkout-form__input.checkout-form__input--textarea
              label(for='signin-login') Логин
              input(type='text' name='first_name' placeholder='')#signin-login.form-input
              .validation-msg.validation-msg-required Обязательное поле
            .checkout-form__input.checkout-form__input--textarea
              label(for='signin-password') Пароль
              input(type='text' name='second_name' placeholder='')#signin-password.form-input
            .checkout-form__input.checkout-form__input--check.checkout-form__input--agreement
              input(type='checkbox' name='agreement' value='1')#signin-remember
              .checkout-form__agreement-label  Запомнить меня
            .checkout-form__input: a(href='/lost-password.html') Забыли пароль?
            .checkout-form__submit
              button(type='submit').btn.btn--checkout Войти
        +grid__item({s:6,xs:12})
          p: strong У вас нет аккаунта на нашем сайте?
          p: a(href='/zaregistrirovatsya').btn.btn--checkout Заказ без регистрации
          p: a(href='/zaregistrirovatsya').btn.btn--checkout Зарегистрироваться
          
