extends /blocks/layout/layout


block content
  .container
    .content
      h1 Мои Заказы
      +grid
        +grid__item({m:8,s:10,xs:12})
          -
            const orders = [
              {
                title: '00000601',
                status: 'Оплачен',
                date: '15.12.2016',
                name: 'тест тест',
                count: '2',
                price: '4300',
              },
              {
                title: '00000602',
                status: 'Оплачен',
                date: '15.12.2017',
                name: 'тест тест2',
                count: '3',
                price: '6450',
              }
            ]
          +ordersList(orders)
