mixin bannerSchedule
  .container.banner-schedule
    .content
      a(href='#new-year').banner-schedule__title.modal График работы в новогодние праздники
      #new-year(style="display: none;")
        p 30&nbsp;декабря&nbsp;&mdash; 10:00&nbsp;&mdash; 19:00 
          | #[br] с&nbsp;31&nbsp;декабря по&nbsp;3&nbsp;января&nbsp;&mdash; выходной 
          | #[br] с&nbsp;4&nbsp;января по&nbsp;6&nbsp;января&nbsp;&mdash; 10:00&nbsp;&mdash; 19:00
          | #[br] 7&nbsp;января&nbsp;&mdash; выходной
          | #[br] 8&nbsp;января&nbsp;&mdash; 10:00&nbsp;&mdash; 19:00
