.banner-schedule
  text-align center
  &__title
    display block
    padding-block 1.5rem
    padding-inline 1rem
    font-size 1.125rem
    font-weight 700
    background-image url(../images/banner-schedule/bg.webp)
    background-repeat no-repeat
    background-position center
    background-size cover
    text-decoration none!important
    color #ad0a31
    &:hover
      color #8b0726
