-
  var products = [
    {
      title:'Набор для начинающего мастера "Light"<br>(картинки есть в нашем инстаграмме)',
      includes:[
        'Аппарат для горячего наращивания - 1 шт.',
        'Щипцы для формирования капсул (4 или 6 мм на выбор) - 1 шт.',
        'Щипцы для снятия капсул - 1 шт.',
        'Защитный диск - 2 шт.',
        'Кератин прозрачный - 10 гр.'
      ],
      image:'/images/obuchenie/product-1.jpg',
      price: '4 235',
      priceDiscount: '3 388',
      discount: '847'
    },
    {
      title:'Набор для начинающего мастера "Premium"',
      includes:[
        'Аппарат для горячего наращивания - 1 шт.',
        'Щипцы для формирования капсул Mizuka (4 или 6 мм на выбор) - 1 шт.',
        'Щипцы для снятия капсул - 1 шт.',
        'Защитный диск - 2 шт.',
        'Кератин прозрачный 10 гр.',
        'Жидкость для снятия нарощенных волос -1 шт.'
      ],
      image:'/images/obuchenie/product-2.jpg',
      price: '4 950 руб.',
      priceDiscount: '3 960',
      discount: '990'
    },
    {
      title:'Набор для мастера "Luxury"',
      includes:[
        'Аппарат для горячего наращивания - 1 шт.',
        'Щипцы для формирования капсул Mizuka (4 или 6 мм на выбор) - 1 шт.',
        'Щипцы для снятия капсул - 1 шт.',
        'Защитный диск - 2 шт.',
        'Кератин прозрачный 10 гр.',
        'Жидкость для снятия нарощенных волос -1 шт.',
        'Палитра волос "Волосы 24"'
      ],
      image:'/images/obuchenie/product-3.jpg',
      price: '7 370',
      priceDiscount: '5 896',
      discount: '1 474'
    },
    {
      title:'Набор для наращивания "Profi"',
      includes:[
        'Аппарат для горячего наращивания - 1 шт.',
        'Щипцы для формирования капсул (4 или 6 мм на выбор) - 1 шт.',
        'Щипцы для снятия капсул - 1 шт.',
        'Защитный диск - 2 шт.',
        'Кератин прозрачный 10 гр.',
        'Жидкость для снятия нарощенных волос -1 шт.',
        'Карда - 1 шт.'
      ],
      image:'/images/obuchenie/product-4.jpg',
      price: '6 710',
      priceDiscount: '5 368',
      discount: '1 342'
    }
  ]
section.training-products
  h2.training-section__header Набор мастера для наращивания,<br>который вы получите по 
    strong специальной цене
  ul.training-products__list
    each product in products
      li.training-product
        h3
          span
            !=product.title
        +grid.training-product__inner
          +grid__item({'m':8,'xs':12}).training-product__description
            p В набор входят:
            ol.list-numbered
              each item in product.includes
                li= item
            .training-product__price
              p Обычная цена: !{product.price} руб.
              p Цена по акции со скидкой 
                strong 20% - !{product.priceDiscount} руб.
                |  (Экономия !{product.discount} руб.)
          +grid__item({'m':4,'xs':12}).training-product__image
            img(src= product.image alt='')
