.aside-menu
  margin-bottom (basePadding*2)
  padding (basePadding*2)
  padding-bottom basePadding
  background-color #f5f5f5
  a
    color #5a5a5a
    text-decoration none
    &:hover
      color #7b7b7b
  &__list
    margin-bottom font-xs
    font-size font-m
    line-height line-m
    padding-left (basePadding*2)
    & ^[-1]__item
      margin-bottom (font-xs)
    &--sub
      margin-top (font-xs/4)
      & ^[-2]__item
        margin-bottom (font-xs/4)
  &__item
    margin-bottom (font-xs/4)
    list-style disc
    position relative
    &--active
      > a
        font-weight bold

    
