.discounts-list
  &__item
    margin-bottom (basePadding*2)
    padding-bottom (basePadding*2)
    border-bottom #d3d3d3 1px solid 
    &:last-child
      margin-bottom 0
      padding-bottom 0
      border-bottom none
  &__prices
    @extends p
  &__price-old
    text-decoration line-through
  &__elements-header
    line-height line-m
    margin-bottom 0.25rem
  &__elements
    @extends p
    line-height line-m
    padding-left (basePadding*4)
  &__element
    margin-bottom 0.5rem
  &__element-title
    color #000000
    text-decoration none
    font-weight bold
    &:hover
      color #000000
      text-decoration underline
      
