include /blocks/banner-schedule/banner-schedule

header.header-main
  include header-sites/header-sites
  .container.hidden-s.hidden-xs
    .content
      include header-main-top/header-main-top
  .container.hidden-s.hidden-xs
    .content
      include header-main-bottom/header-main-bottom
      //- include header-nav/header-nav
  .container.hidden-s.hidden-xs
    .content
      include header-banner/header-banner
  .container
    .content
      .banner-mini
        strong #[a(href='#banner-mini').modal.banner-mini__title График работы в праздники]
        div#banner-mini(style="display: none;")
          p 7.03&nbsp;&mdash; с&nbsp;10:00 до&nbsp;19:00
            | #[br] 8.03&nbsp;&mdash; нерабочий день
  .container.hidden-hd.hidden-xl.hidden-l.hidden-m
    .content
      include header-mobile/header-mobile
  +bannerSchedule
