-
  var teachers = [
    {
      name: "Наталья",
      description: {
        "expirience":[
          "В области парикмахерского искусства более 13 лет.",
          "Наталья закончила школу парикмахерского искусства F Style (Фатиния) в 2003 году. Как человек творческий, не остановилась на этом и прошла обучение в студии парикмахерского искусства Londa в 2005 году. Но в 2007 году обучалась в студии Shwarzkopf по направлению мужских коммерческих и креативных стрижек. Прошла обучающие семинары по стрижкам и окраскам в студии Wella."
        ],
        "activities":[
          "Наращивание волос.",
          "Безоперационное замещение волос.",
          "Мужские и женские стрижки любой сложности.",
          "Окраска волос, наращивание волос.",
          "Изготовление ручных трессов, постижерных изделий, прически."
        ]
      },
      photo: "/images/obuchenie/teacher-1.jpg"
    },
    {
      name: "Ирина",
      description: {
        "expirience":[
          "В области парикмахерского искусства более 15 лет.",
          "В настоящее время работает в Центре дизайна волос мастером по безоперационному замещению и наращиванию волос. Проводит учебные семинары по различным техникам наращивания волос. Работает на международных выставках парикмахерского искусства. Постоянно совершенствуется в области стрижек и окраски, посещает учебные семинары по последним технологиям в этой области."
        ],
        "activities":[
          "Наращивание волос различными методами.",
          "Прически, укладки, стрижки любой сложности.",
          "Наращивание ресниц.",
          "Постижерные работы",
          "Безоперационное замещение волос."
        ]
      },
      photo: "/images/obuchenie/teacher-2.jpg"
    }
  ]

section.training-teachers
  h2.training-section__header Преподаватели курсов
  .training-teachers__description
    p Дорогие друзья!
    p
      strong Приглашаем Вас на курсы
      |  обучения различным технологиям наращивания волос - кератиновое,  ленточное, голливудское,  которые проводятся в нашем любимом «Центре дизайна волос» совместно с компанией «Волосы 24».
    p
      strong Мы предлагаем Вам пройти
      |  обучение индивидуально или группой, предоставим Вам специальные предложения для начинающих мастеров в виде скидок на материалы и инструменты. Так как мы обладаем уникальным опытом собственного производства волос для наращивания, только у нас Вы узнаете секреты всех технологий и научитесь правильно работать с волосами.
    p
      strong В отличие от многих школ,
      |  программ и курсов по обучению различным технологиям наращивания, только мы делаем наших учеников - <u>мастерами</u> в области наращивания волос, а также настоящими знатоками в этой очень сложной области.
    p С радостью ждем Вас!
  ul.training-teachers__list
    each teacher in teachers
      li.training-teacher
        .training-teacher__info
          h3= teacher.name
          +grid({'justify':'center'}).training-teacher__description
            +grid__item({'m':8,'xs':12}).training-teacher__description-inner
              h4 Опыт работы
              ul.list-marked
                each exp in teacher.description.expirience
                  li= exp
              h4 Сфера деятельности
              ul.list-marked
                each activity in teacher.description.activities
                  li= activity
            +grid__item({'m':4,'s':6,'xs':12}).training-teacher__photo
              img(src= teacher.photo)
