.header-contacts
  text-align center
  display flex
  flex-wrap wrap
  margin-x -(basePadding)
  align-items center
  > div
    padding-x (basePadding)
  &__schedule
    font-size font-s
    text-align center
    color #959595
    margin-bottom (basePadding/2)
  &__phone
    font-weight bold
    margin-bottom ((line-s - font-s)/2)
    &--big
      text-align center
      font-size font-xl
      line-height line-xl
  &__phone-clar
    font-size font-xs
    line-height line-xs
  &__offer-call
    border-bottom 1px dotted
    text-decoration none
    font-size font-s
    line-height line-s
    cursor pointer
    @supports (text-decoration-style dotted)
      border-bottom none
      text-decoration underline
      text-decoration-style dotted
